
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgb(44, 43, 43);
}
.wrapper{
    width: 350px;
    height: 480px;
    margin: 65px auto;
    background: rgb(64, 63, 63);
    border-radius: 30px;
    box-shadow: rgb(39, 39, 39);
}

#display{
    border: none;
    border-radius: 10px;
    outline: none;
    width: 330px;
    height: 80px;
    color: black;
    font-size: 65px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    background:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.buttons-box{
    margin: 35px 15px;
}

.btn{
    width: 60px;
    height: 60px;
    margin: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    line-height: 30px;
    padding: 20px;
    border-radius: 20px;
    background:white ;
}

.btn:hover{
    background: darkgrey;
}

.ebtn, .ebtn:hover{
    background: darkorange;
}